@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    90deg,
    #020024 0%,
    #090979 35%,
    #00d4ff 100%
  );
  background-repeat: no-repeat;
  width: 100%;
  color: whitesmoke;
  padding: 0 5%;
  min-height: 100vh;
}

.glass-bg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.29);
}
